<div>
  <div appHighlight *appUnless="false" [ngSwitch]="title">
    <p *ngSwitchCase="'title'">Title</p>
    <p *ngSwitchCase="'test'">Title</p>
    <p *ngSwitchCase="'fly'">Title</p>
    <p *ngSwitchDefault>Default</p>
  </div>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div ngModelGroup="user" #user="ngModelGroup">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          name="username"
          id="username"
          [ngModel]="defaultUsername"
          required
        />
        <span><button (click)="suggestName($event)">Suggest name</button></span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          name="password"
          id="password"
          type="password"
          ngModel
          required
          #passwordInput="ngModel"
        />
        <span *ngIf="passwordInput.value && passwordInput.value.length < 6"
          >Password must be at least 6 chars.</span
        >
      </div>
      <p *ngIf="user.invalid && user.touched">User data invalid.</p>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
        required
        [(ngModel)]="description"
      ></textarea>
      <p *ngIf="description">{{ description }}</p>
    </div>
    <div>
      <span *ngFor="let hobby of hobbies">
        <label for="hobby">{{ hobby }}</label>
        <input
          type="radio"
          name="hobby"
          [value]="hobby"
          required
          ngModel="Biking"
        />
      </span>
    </div>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>
  <div *ngIf="submitted">
    <h3>Result</h3>
    <div>
      {{ myForm.value.user.username }}, {{ myForm.value.hobby }},
      {{ myForm.value.description | shorten }}.
    </div>
  </div>
</div>
