<div>
  <div appHighlight *appUnless="false" [ngSwitch]="title">
    <p *ngSwitchCase="'title'">Title</p>
    <p *ngSwitchCase="'test'">Title</p>
    <p *ngSwitchCase="'fly'">Title</p>
    <p *ngSwitchDefault>Default</p>
  </div>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div>
      <label for="username">Username</label>
      <input name="username" id="username" ngModel required />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        name="password"
        id="password"
        type="password"
        ngModel
        required
        #passwordInput="ngModel"
      />
      <span *ngIf="passwordInput.value && passwordInput.value.length < 6"
        >Password must be at least 6 chars.</span
      >
    </div>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
