<nav class="authed" *ngIf="authedUser">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a
    routerLink="/users"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Users</a
  >
  <a
    routerLink="/hobby"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Hobby</a
  >
  <a
    routerLink="/logout"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Log out</a
  >
</nav>
<nav class="unauthed" *ngIf="!authedUser">
  <a
    routerLink="/register"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Sign up</a
  >
  <a
    routerLink="/login"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Log in</a
  >
</nav>
<router-outlet></router-outlet>
